<ion-header>
  <ion-toolbar>
    <ion-buttons start ion-button icon-only (click)="gotoHome()">
        <ion-icon color="light" name="md-arrow-back" color="dark"></ion-icon>
    </ion-buttons>
    <ion-title color="dark" slot="start">   
    </ion-title>
  </ion-toolbar>
  <div id="heads">Configuración</div> 
</ion-header>
<ion-row style="height: 35px; background-color: #efeff4; border-bottom: 1px solid #ffffff;"></ion-row>

<ion-content class="ion-padding">
<section class="add_device" > 
    <ion-list>
      <ion-list-header>
            <ion-label color="dark">Datos de la Empresa</ion-label>
      </ion-list-header>
       <ion-item>
          <ion-label position="stacked" color="dark">Nombre de la Empresa</ion-label>
          <ion-input class="form-control" type="text" maxlength="40" [(ngModel)]="todo.emp" #myControl="ngModel"></ion-input>
          <!-- <span>Please enter a framework name of no more than 40 characters</span> -->
       </ion-item>
       <ion-item>
          <ion-label position="stacked" color="dark">Sucursal</ion-label>
          <ion-input type="text" maxlength="40" [(ngModel)]="todo.suc"></ion-input>
       </ion-item>
    </ion-list> 
    <div class="ion-padding">
        <ion-button expand="block" [disabled]="!myControl.valid" color="dark" (click)="saveTodo()">Guardar</ion-button>
    </div>        
</section>
</ion-content>

